<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain ChatApp</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Blockchain ChatApp</h1>
      <div id="messages"></div>
      <form id="message-form">
        <div class="input-container">
          <input
            type="text"
            id="message-input"
            placeholder="Type your message..."
          />
          <input type="submit" value="Send" />
        </div>
      </form>
  </body>
  <script src="../static/script.js"></scrip>
</html>
